:root{
    --theme-color: #3FCBDB;
}
*{
    font-family:monospace, Courier;

}
body{
    background-color: #444444;

}
#top-bar{
    width: 100%;
    height: 8px;
    margin: 0;
    background-color: var(--theme-color);
    position:absolute;
    top: 0;
    left: 0;
}
.track-shadow-drop {
    border: 1px solid var(--theme-color);
    box-shadow: var(--theme-color) 4px 4px 0px 0px;
  } 
.track{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 55%;
    height: 350px;
    background-color: #5F5F5F;
    margin-top:20px;
    border-radius: 20px;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}
#word-count-btn-container{
    margin: 4% auto auto auto;
    width: 35%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
} 
.btn:hover{
    cursor: pointer;
}
   
.btn-shadow {
    position: relative;
    background: #5F5F5F;
    font-size: 0.9em;
    font-weight: 700;
    transition: all 0.1s ease-in-out 0s;
    left: 0px;
    top: 0px;
    text-align: center;
} 

.btn-shadow:active{
    left: 4px;
    top: 4px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
} 
   
.btn-shadow-drop{
    border: 1px solid var(--theme-color);
    color: white;
    box-shadow: var(--theme-color) 4px 4px 0px 0px;
    font-weight: 700;
    font-size: 1.3rem;
} 

#word-count-container{
    margin: 35px auto 10px auto;
    width: 10%;
    color: white;
    background-color: #5F5F5F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 20px;
}
#word-count-btn-1, #word-count-btn-2, #word-count-btn-3{
    width: 100px;
    border-radius: 10px;
    padding: 20px;
}
#track-text{
    width: 90%;
}
.starting-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #949494;
    height: 200px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    border: 2px solid var(--theme-color);
    box-shadow: var(--theme-color) 4px 4px 0px 0px;
    
}
.light-red-l, .light-orange-l, .light-green-l, .light-red-r, .light-orange-r, .light-green-r{
    background-color: black;
    margin: auto;
    height: 60px;
    width:60px;
    border-radius: 50px;
    color:white;

}
#track-container{
    margin: auto;
    display: flex;
    justify-content:center;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.cursor{
    background-image: linear-gradient(to right, white 15%, transparent 15%);
    background-repeat: no-repeat;
}
.cursor-red{
    background-repeat: no-repeat;
    background-color: #FF7777;
    color:var(--theme-color);
    background-image: linear-gradient(to right, white 15%, transparent 15%);
    background-repeat: no-repeat;
}
.error-highlight{
    background-color: #FF7777;
}
#stats-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 120px;
}
.stat-slot{
    width: 200px;
    height: 100px;
    background-color: #5F5F5F;
    margin: 20px 30px 20px 30px;
    border: 2px solid var(--theme-color);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    box-shadow: var(--theme-color) 4px 4px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: middle;
}
.completed-track{
    color:var(--theme-color);
}
.stat-text{
    height:20%;
    margin: 5px;
}
#start-end-container{
    display: flex;
    height:100px;
    width:20%;
    margin: 20px auto;
    justify-content: center;
}
#start-btn{
    width:100px;
    border-radius: 10px;
    padding: 20px;
    margin: auto 10px;
}
#end-btn{
    width:100px;
    border-radius: 10px;
    padding: 20px;
    margin: auto 10px;
}